<div id="home-collection-divider">
  <h2>FEATURED</h2>
  <hr>
</div>
<div class="product-container">
  <div class="single-product">
    <div class="product-img-container"><img height="" width=""></div>
    <div id="product-info">
      <div>
        <a> CUSTOM WAVE BUNDLES </a>
      </div>
      <span>$19.99</span>
    </div>
  </div>
  <div class="single-product">
    <div class="product-img-container"><img height="" width=""></div>
    <div id="product-info">
      <div>
        <a> CUSTOM WAVE BUNDLES </a>
      </div>
      <span>$19.99</span>
    </div>
  </div>
  <div class="single-product">
    <div class="product-img-container"><img height="" width=""></div>
    <div id="product-info">
      <div>
        <a> CUSTOM WAVE BUNDLES </a>
      </div>
      <span>$19.99</span>
    </div>
  </div>
  <div class="single-product">
    <div class="product-img-container"><img height="" width=""></div>
    <div id="product-info">
      <div>
        <a> CUSTOM WAVE BUNDLES </a>
      </div>
      <span>$19.99</span>
    </div>
  </div>
</div>

<div id="shop-all-btn-container">
  <a>BROWSE CATALOG</a>
</div>

<style>
  .feature-collection {
    padding: 2rem;
  }

  #home-collection-divider {
    padding: 2rem 0;
  }

  #home-collection-divider > h2 {
    margin: 0;
  }

  #home-collection-divider > hr {
    height: 0.2rem;
    background-color: #050404;
    margin: 0;
  }

  .product-container {
    color: #fef6f6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .single-product {
    flex: 1 1 calc(50% - 1rem);
  }

  @media (min-width: 768px) {
    .single-product {
      flex: 1 1;
    }
  }

  .product-img-container {
    background-color: grey;
    border-radius: 25px 25px 0px 0px;
    height: 275px;
  }

  #product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    border: solid black 2px;
    border-top: none;
    border-radius: 0 0 25px 25px;
    color: #050404;

    font-size: clamp(1rem, 0.9vw + 0.5rem, 3rem);
  }

  #product-info > p {
    margin: 0;
  }

  .product-desc {
    margin: 0;
  }

  #checkout-btn {
    display: block;
    border: none;
    background-color: #050404;
    color: #fef6f6;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
    opacity: 0.85;
    padding: 1rem;
    width: 100%;
    transition: opacity 0.2s ease-in-out;
  }

  #checkout-btn:hover {
    opacity: 0.6;
  }

  #shop-all-btn-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
  }

  #shop-all-btn-container > a {
    color: #fef6f6;
    padding: 1rem;
    background-color: #050404;
    border-radius: 2rem;
    opacity: 0.85;
    width: 100%;
  }
</style>

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "Feature Collection",
  "class": "feature-collection",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Feature Collection"
    }
  ],
  "blocks": [],
  "tag": "section",
  "limit": 1
}
{% endschema %}
