<div id="hero-menu">
  {% for block in section.blocks %}
    {% if block.type == 'menu' %}
      <a class="hero-link" href="{{ block.settings.url }}">{{ block.settings.text }}</a>
    {% endif %}
  {% endfor %}
</div>

<div id="hero-img">
  <img
    src="{{ section.settings.hero-image | image_url }}"
    alt="{{section.settings.alt}}"
    height=""
    width=""
  >
</div>

{% stylesheet %}
  .hero-section {
    padding: 2rem;
    color: #fef6f6;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1rem;
  }

  #hero-menu {
    flex: 50%;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    width: 100%;
  }

  #hero-img {
    flex: 50%;
    width: 100%;
    height: 90%;
    border-radius: 2rem;
  }

  #hero-img > img {
    display: block;
    object-fit: contain;
    width: 100%;
    border-radius: 2rem;
  }

  #hero-header {
    color: #fef6f6;
    font-size: clamp(3rem, 0.5rem, 8rem);
    grid-column: span 2 / span 2;
    padding: 4rem;
    border-radius: 2rem;
    background-color: #815151;
    margin: 0;
    text-align: center;
  }

  .hero-link {
    all: unset;
    text-decoration: none;
    background-color: rgba(5, 4, 4, 0.9);
    border-radius: 2rem;
    padding: 1rem 2rem;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 1.1vw + 1rem, 5rem);
    transition: opacity 0.2s ease-in-out;
  }

  .hero-link:hover {
    opacity: 0.9;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Hero Section",
  "class": "hero-section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Header Text"
    },
    {
      "type": "image_picker",
      "id": "hero-image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "alt",
      "label": "Alt Text"
    }
  ],
  "presets": [
    {
      "name": "Hero Section"
    }
  ],
  "blocks": [
    {
      "name": "Menu Link",
      "type": "menu",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button URL"
        }
      ],
      "limit": 4
    }
  ],
  "tag": "section",
  "limit": 1
}
{% endschema %}
