<a href="{{ section.settings.promo_url }}" class="promo_message">{{ section.settings.promo_text }}</a>

<style>
  .promo-banner {
    margin: 0 2rem;
    padding: 2rem;
    background-color: #d3bcb6;
    border-radius: 2rem;
    text-align: center;
    font-size: clamp(1.5rem, 1vw + 0.7rem, 5rem);
    cursor: pointer;
  }

  .promo_message {
    margin: 0;
    text-decoration: none;
    color: #050404;
  }
</style>

{% schema %}
{
  "name": "Promo Banner",
  "class": "promo-banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "promo_text",
      "label": "Promotional Text"
    },
    {
      "type": "url",
      "id": "promo_url",
      "label": "Promotion Link"
    }
  ],
  "presets": [
    {
      "name": "Promo Banner"
    }
  ],
  "blocks": [],
  "tag": "section",
  "limit": 1
}
{% endschema %}
